table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #c6c6c6;
}

th, td {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #fff2ec;
}

td:first-child, th:first-child, td:nth-child(4), th:nth-child(4) {
    text-align: center;
}

#video-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    text-align: center;
}

.video {
    /* width: 23%;
    margin-bottom: 20px; */
    display: inline-block !important;
    /* float: left; */
    /* text-align: left; */
}

.video img {
    width: 100px !important;
    height: auto;
    /* float: left; */
}

.video-title {
    position: absolute;
    top: 0;
    display: inline-block;
    margin-top: 10px;
}

.material-symbols-outlined {
    user-select: none;
    cursor: pointer;
}